<mat-card>
    <mat-card-header>
        <mat-card-title>
            Pesquisa de Acessorios
        </mat-card-title>

    </mat-card-header>
    <mat-card-content>
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
          </mat-form-field>
        <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="nome">
                <th mat-header-cell *matHeaderCellDef> Modelo </th>
                <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
            </ng-container>
            <ng-container matColumnDef="valor">
                <th mat-header-cell *matHeaderCellDef> Cor </th>
                <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
            </ng-container>
            <ng-container matColumnDef="cor">
                <th mat-header-cell *matHeaderCellDef> Placa </th>
                <td mat-cell *matCellDef="let element"> {{element.cor}} </td>
            </ng-container>
            <ng-container matColumnDef="detalhes">
                <th mat-header-cell *matHeaderCellDef> Valor </th>
                <td mat-cell *matCellDef="let element"> {{element.detalhes}} </td>
            </ng-container>
            <ng-container matColumnDef="acoes">
                <th mat-header-cell *matHeaderCellDef> Ações </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-raised-button color="primary" (click)="alterar(element)">Alterar</button>
                    <button mat-raised-button color="secundary" (click)="remover(element)">Remover</button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
    <mat-card-footer>

    </mat-card-footer>
</mat-card>