<mat-card>
    <mat-card-header>
        <mat-card-title>
            Menu Principal
        </mat-card-title>

    </mat-card-header>

    <body>
        <header>
            <div>
                <img class="logo" src="pilha.png">
                <nav>
                    <ul>
                        <li><a href="menu-principal.component.html">Home</a></li>
                        <li><a href="veiculo-cadastro.component.html">Veiculo</a></li>
                        <li><a href="acessorios-cadastro.component.html">Acessorios</a></li>
                    </ul>
                </nav>
            </div>
        </header>
    </body>
</mat-card>