<mat-card>
    <mat-card-header>
        <mat-card-title>
            Tela de Login
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form" fxLayout="column">
            <mat-form-field>
                <input matInput placeholder="Login" formControlName="login" type="text">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Senha" formControlName="senha" type="password">
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-raised-button routerLink="veiculo/cadastro">Logar</button>
    </mat-card-actions>
</mat-card>